body {
    background-color: hsl(218, 23%, 16%);
    color: white;
    font-size: 28px;
    font-family: "https://fonts.google.com/specimen/Manrope";
    align-content: center;
    margin: auto;
  }
#box {
    background-color: hsl(217, 19%, 24%);
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%;
    text-align: center;
    border-radius: 12px;
}
#text_id {
    color: hsl(150, 100%, 66%);
    font-size: 15px;
    padding-top: 2%;
}
#text_advice {
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    align-content: baseline;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.button {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-color: hsl(150, 100%, 66%);
}
#divider {
    padding-top: 2%; 
    padding-bottom: 2%;
}
