@import url('https://fonts.google.com/specimen/Manrope');
body {
    background-color: hsl(218, 23%, 16%);
    color: white;
    font-size: 160%;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100vw;
  }
#box {
    background-color: hsl(217, 19%, 24%);
    width: clamp(120px, 95%, 32rem);
    position: fixed;
    top: 30%;
    text-align: center;
    border-radius: 12px;
    font-family: 'Manrope', serif;
}
#text_id {
    color: hsl(150, 100%, 66%);
    font-size: 50%;
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 4%;
    font-weight: 400;
    letter-spacing: 4px;
}
#text_advice {
    color: hsl(0, 2%, 89%);
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    font-weight: bolder;
}
.attribution { 
    font-size: 32%; 
    text-align: center; 
    position: fixed;
    bottom: 0;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.attribution a:hover {
    color: hsl(220, 18%, 97%); 
}
.button {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border-color: hsl(150, 100%, 66%);
    position: relative;
    bottom: -30px;
}
.button:hover {
    box-shadow: 0px 0px 10px hsl(150, 100%, 66%);
}

